<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BDStoreSurfaceGated</key>
	<string>$(STORE_SURFACE_GATED)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to find work-friendly cafes nearby.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchMark</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>HankenGrotesk[wght].ttf</string>
		<string>Manrope[wght].ttf</string>
		<string>JetBrainsMono[wght].ttf</string>
	</array>
</dict>
</plist>
